──────────────────────────
{{ sender.name }}
{% if sender.person %}{{ sender.person }}
{% endif %}{{ sender.address }}
{% if sender.phone %}TEL: {{ sender.phone }}
{% endif %}Mail: {{ sender.email }}
Web : {{ sender.url }}

※本メッセージは、貴社ウェブサイトで公開されているお問い合わせ窓口宛に
　お送りしております。今後のご案内が不要な場合は、お手数ですが
　{{ sender.email }} までその旨ご返信ください。以後お送りいたしません。
──────────────────────────
